body {
  background-color: #777777; /* Replace with your desired background color */
}

h1 {
  color: #fff; /* Replace with your desired font color for h1 */
}

h2 {
  color: #fff; /* Replace with your desired font color for h2 */
}

p {
  color: #fff; /* Replace with your desired font color for h2 */
}