<!DOCTYPE html>
<html>
<head>
    <title>{{ form_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://unpkg.com/survey-core/defaultV2.min.css" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles/global.css')}}" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://unpkg.com/survey-core/survey.core.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/survey-js-ui/survey-js-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', path='/forms/'+form_name) }}"></script>
    <script type="text/javascript">
        const saveSurveyUrl = "{{ form_submission_url }}";
        const displayResultsUrl = "{{ url_for('static', path='/pages/form-result.html') }}"
    </script>
    <script type="text/javascript" src="{{ url_for('static', path='/js/survey.js') }}"></script>
</head>
<body  dir="rtl">
    <div id="surveyContainer"></div>
</body>
</html>